body {
    background-color: hsl(0, 0%, 5%);
}

div img {
    filter: invert(100%);
}

#main-container {
    background-color: hsl(0, 0%, 10%);
    border: 0.25vh solid hsl(0, 0%, 0%);
}

#question-container {
    background-color: hsl(0, 0%, 15%);
    border: 0.25vh solid hsl(0, 0%, 5%);
}

#user-button {
    filter: invert(100%);
    background-color: hsl(0, 0%, 80%);
}

.answer {
    background-color:hsl(0, 0%, 15%);
    border: 0.25vh solid hsl(0, 0%, 5%);
}

.answer:hover {
    border: 0.25vh solid hsl(0, 0%, 6%);
    box-shadow: 0 0 2vh hsl(0, 0%, 0%);
}

.styleCorrect {
    border: 0.25vh solid hsl(120, 100%, 50%);
    box-shadow: 0 0 2vh 2px hsl(120, 100%, 50%);
}

.styleCorrect:hover {
    border: 0.25vh solid hsl(120, 100%, 50%);
    box-shadow: 0 0 2vh 2px hsl(120, 100%, 50%);
}

.styleIncorrect {
    border: 0.25vh solid hsl(0, 100%, 50%);
    box-shadow: 0 0 2vh 2px hsl(0, 100%, 50%);
}

.styleIncorrect:hover {
    border: 0.25vh solid hsl(0, 100%, 50%);
    box-shadow: 0 0 2vh 2px hsl(0, 100%, 50%);
}