* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

header {
    position: absolute;
    top: 0;
    display: flex;
    height: 10vh;
    width: 100vw;
    align-items: center;
    padding: 3vh;
}

img {
    user-select: none;
    pointer-events: none;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width: 60vw;
    border-radius: 1.5vh;
    padding: 1.5vh;
}

#question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    border-radius: 1.5vh;
}

#answer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

#light, #dark, #gold {
    border-radius: 100%;
    border: 1px solid hsl(0, 0%, 100%);
    box-shadow: 0 0 0 1px hsl(0, 0%, 50%);
}

#user-button {
    background-image: url("../assets/user-icon.svg");
    background-size: 100%;
    border: none;
    border-radius: 4px;
    height: 4vh;
}

.header-button {
    cursor: pointer;
    height: 100%;
    width: 4vh;
    margin-right: 2vh;
}

.answer {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    border-radius: 1.5vh;
}