body {
    background-color: hsl(0, 0%, 5%);
}

div img {
    filter: invert(100%);
}

#main-container {
    background-color: hsl(0, 0%, 10%);
    border: 2px solid hsl(0, 0%, 0%);
}

#display {
    background-color: hsl(0, 0%, 15%);
    border: 2px solid hsl(0, 0%, 0%);
}

.answer {
    background-color:hsl(0, 0%, 15%);
    border: 2px solid hsl(0, 0%, 0%);
}

.answer:hover {
    border: 2px solid hsl(0, 0%, 0%);
    box-shadow: 0 0 10px hsl(0, 0%, 0%);
}

.styleCorrect {
    border: 2px solid hsl(120, 100%, 50%);
    box-shadow: 0 0 12px 2px hsl(120, 100%, 50%);
}

.styleCorrect:hover {
    border: 2px solid hsl(120, 100%, 50%);
    box-shadow: 0 0 12px 2px hsl(120, 100%, 50%);
}

.styleIncorrect {
    border: 2px solid hsl(0, 100%, 50%);
    box-shadow: 0 0 12px 2px hsl(0, 100%, 50%);
}

.styleIncorrect:hover {
    border: 2px solid hsl(0, 100%, 50%);
    box-shadow: 0 0 12px 2px hsl(0, 100%, 50%);
}