body {
    background-color: hsl(0, 0%, 80%);
}

#main-container {
    background-color: hsl(0, 0%, 90%);
    border: 2px solid hsl(0, 0%, 70%);
}

#display {
    background-color: white;
    border: 2px solid hsl(0, 0%, 80%);
}

.answer {
    background-color: white;
    border: 2px solid hsl(0, 0%, 80%);
}

.answer:hover {
    border: 2px solid hsl(0, 0%, 70%);
    box-shadow: 0 0 10px hsl(0, 0%, 50%);
}

.styleCorrect {
    border: 2px solid hsl(120, 100%, 50%);
    box-shadow: 0 0 12px 2px hsl(120, 100%, 50%);
}

.styleCorrect:hover {
    border: 2px solid hsl(120, 100%, 50%);
    box-shadow: 0 0 12px 2px hsl(120, 100%, 50%);
}

.styleIncorrect {
    border: 2px solid hsl(0, 100%, 50%);
    box-shadow: 0 0 12px 2px hsl(0, 100%, 50%);
}

.styleIncorrect:hover {
    border: 2px solid hsl(0, 100%, 50%);
    box-shadow: 0 0 12px 2px hsl(0, 100%, 50%);
}